body{
    font-family: "Playfair Display", serif;
    font-style: normal;
    width: 100%;
    background-color: black;
    margin: 0;
}
h1{
    font-size: 26px;
    color: #fff;
    margin: 0;
}
header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: #fff solid 1px;
    align-items: center;
}
a{
    color: #fff; 
    text-decoration: none;
    font-size: 16px;
}
ul{
    display: flex;
    list-style-type: none;
    margin: 0;
}
li{
    margin-right: 47px;
    margin-top: 10px;
}
h2{
    color: #fff;
    font-size: 64px;
    text-transform: uppercase;
    position: absolute;
    left: 200px;
}
p{
    color: #fff;
    font-size: 24px;
    position: absolute;
    left: 200px;
    top: 210px;
}
.link-f{
    position: absolute;
    left: 200px;
    top: 310px;
}

h3{
    font-size: 21px;
    font-weight: 500;
    color: #fff;
}
.info-link{
    font-size: 14px;
    position: relative;
    top: -15px;
}
.info{
    width: 600px;
    height: 353px;
    position: absolute;
    right: 220px;
    top: 240px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.info-block{
    width: 255px;
    height: 148px;
    background-color: #2378FC;
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 10px;
}
.info-block:nth-child(2){
    background-color: #30BCC9;
}
.info-block:nth-child(3){
    background-color: #FFC41E;
}
.info-block:nth-child(4){
    background-color: #F6404F;
}
.image-body{
    background-image: url(bgc.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 725px;
}
